*{
    box-sizing: border-box;
    padding: 0; margin: 0;
}

/* begin hearder */
.top{
    width: 100%;
    height: 50px;
    background-color: black;
}
.container{
    width: 1170px;
    margin: 0 auto;
}
.cart{
    color: wheat;
    float: right;
    margin-top: 6px;
    text-align: center;
}
.cart a{
    color: white;
    text-decoration: none;
}
/* end header  */

/* logo */
.logo{
    margin-top: 20px;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
}
.logo a{
    color: black;
    text-decoration: none;
    text-align: center;
}
/* end logo  */

/* menu  */
.menu{
    margin-top: 20px;
}
.left{
    width: 70%;
    height: 65px;
    /* background-color: black; */
    float: left;
}
.left ul{
    height: 100%;
    display: flex;
    align-items: center;
}
.left li{
    list-style: none;
    margin-right: 30px;font-size: 25px;
}
.left a{
    color: black;
    text-decoration: none;
}
.left a:hover{
    color: green;
}
.right{
    width: 30%;
    height: 65px;
    float: left;
    margin-top: 12px;

}
#btnSearch{
    background-image: url("./images/search.png");
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    border: 0;
    background-position: 4px 3px;
    position: relative;
    top: 8px;
    left: -31px;
}
#search{
    padding: 7px;
}
.right .containSearch{
    float: right;
}
.menu::after{
    content: "";
    clear: both;
}
/* end menu  */


/* banner  */
.banner img{
    width: 100%;
}
/* end banner  */

/* news product */
.news-product{
    display: flex;
    justify-content: center;
    margin: 40px 0;
}
.news-product .new-product{
    margin-right: 20px;
}
/* end news product */

/* products */
.products{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.products .product{
    padding: 30px 30px;
    margin: 10px;
    border: 1px solid sandybrown;
}
.products .product .product-img{
    text-align: center;
}
/* end products */

/* contact  */
.contact{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid gray;
}
.contact .info{
    width: 20%;
    height: auto;
}
.contact .info ul{
    list-style: none;
    margin-top: 20px;
    margin-bottom: 20px;
}
.contact .info ul li{
    margin-bottom: 10px;
}
.contact .info p{
    color: gray;
}
.contact .info ul a{
    color: gray;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.contact .info ul a:hover{
    color: green;
}
.contact .social{
    width: 34px;height: 34px;
    display: inline-block;
    margin-right: 5px;
}
.social#facebook{
    background-image: url("./images/s-icons.png");
}
.social#twitter{
    background-image: url("./images/s-icons.png");
    background-position: -34px;
}
.social#google{
    background-image: url("./images/s-icons.png");
    background-position: -68px;
}
/* end contact  */


/* footer  */
.footer{
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
}
.footer >*{
    width: 40%;
}
.left-footer{
    margin-left: 100px;
}
.right-footer{
    text-align: center;
}
/* end footer  */